/********************************************************
                        GLOBAL
********************************************************/

/* Déclaration de variables CSS */

:root {
    --primary-color: #96B011;
    --secondary-color: #B09067;
    --bg-header-footer: #96B011 url(../img/bg.jpg) no-repeat bottom;
    --bg-section: #fff;
}

/*
ATTENTION : Les variables CSS ne sont pas prises en charge par les navigateurs IE ni Edge versions 14 et inférieures. 
La version 15 de Edge gère partiellement les variables CSS. Depuis la version 16 Edge gère totalement les variables CSS.
Firefox les gère depuis la version 31, Chrome depuis la version 49, Opera depuis la version 36 et Safari depuis la 9.3

A NOTER que cela pose aussi des soucis pour le validateur CSS qui ne reconnait pas encore :root et les variables.
*/

html{ /* Base de 10 pixels pour faciliter les calculs */
    font-size: 62.5%;
}

body{ /* Retour à la taille de police par défaut (16 px) */
    background-color: #f2f2f2;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

body *{ /* Modification des tailles par rapport à la bordure */
    box-sizing: border-box;
    outline: none;
}

main, footer{
    line-height: 1.8;
}

section, form{ /* Habillage par défaut de toutes les sections et formulaires du site */
    background: var(--bg-section);
    margin-bottom: 3rem;
    padding: 3rem;
    width: 100%;
}

a{
    color: var(--secondary-color);
    text-decoration: none;
}

/***** Formulaires *****/

form{
    text-align: center;
    padding: 2rem 2rem 0;
}

fieldset{
    width: min-content;
    margin: auto;
    border-color: var(--secondary-color);
    border-radius: 5px;
    padding: 1rem;
    align-items: center;
}

input{
    margin: 1rem 0;
}

/***** Titres *****/

h1, h2, h3, h4{
    color: var(--primary-color);
    font-family: 'Amaranth', sans-serif;
    text-align: center;
}

h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

/***** Classes *****/

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;    
}

.flex{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flex article{
    flex-basis: 33%;
}

article.flex{
    justify-content: space-between;
}

article.flex p{
    margin: 0;
}

.btn{
    background-color: var(--secondary-color);
    color: #fff;
    display: inline-block;
    margin: 2rem 0;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover{
    background-color: rgba(176,144,103,0.75)
}

.float-left{
    float:left;
    margin-right: 15px;
}

.float-right{
    float:right;
    margin-left: 15px;
}

.clear{
    clear: both;
}

.none{
    display: none;
}

.dark{
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    padding: 1rem 0;
    margin-top: 0;
}

.success{
    font-weight: bold;
    color: green;
}

.error{
    font-weight: bold;
    color: red;
}

.active{
    opacity: 0.75;
    box-shadow: inset 5px 5px rgb(134, 110, 78), inset -5px -5px rgb(134, 110, 78);
}

.price{
    margin: 0;
    font-size: 2.4rem;
    font-weight: bold;
}


/********************************************************
                        HEADER
********************************************************/

header{
    background: var(--bg-header-footer);
    color: #fff;
    margin-bottom: 3rem;
    position: relative;
}

/***** Logo *****/

header div.flex{
    flex-direction: column-reverse;
    padding: 1.5rem 0;
}

header div.flex a{
    display: inline-block;
    margin-top: 4rem;
}

/***** Panier *****/

header .panier{
    background-color: var(--primary-color);
    color: white;
    margin: 0;
    position: fixed;
    top: 6rem;
    z-index: 1000;
}

header .panier {
    border-radius: 0 5rem 5rem 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    font-size: 3rem;
    padding: 1rem 1.5rem;
}

header .panier span:first-of-type{
    display: none;
}

header p.panier .fa-shopping-cart{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 1.5rem;
}

/***** Navigation *****/

header nav{
    padding-bottom: 2rem;
}

header nav ul{
    list-style: none;
    padding: 0
}

header nav li{
    padding: 2rem 3rem;
}

header nav a{
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
}

header nav a:hover{
    background: rgba(255, 255, 255, 0.2);
}

#ribbon{
    display: none;
}

/********************************************************
                         MAIN
********************************************************/

main > h1{
    background-color: var(--bg-section);
    margin-bottom: 0;
    padding-top: 30px;
}

/********** Page d'accueil (home) **********/

#home .event, 
#home .flexslider .flex-direction-nav{
    display: none;
}

#home .flexslider{
    border: none;
}

#home .choice-tea div.flex {
    flex-wrap: wrap;
    justify-content: center;
}

#home .choice-tea > div:hover figure{
    opacity: 0.5;
}

#home .choice-tea > div figure:hover{
    opacity: 1;
}

#home .choice-tea figure{
    flex-basis: 50%;
}

#home figure{
    margin: 1.6rem 0;
    text-align: center;
}

#home .choice-tea a, 
#home .selection-tea figcaption{
    color: #666;
    font-family: 'Amaranth', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
}

#home .selection-tea article{
    text-align: center;
}

#home .selection-tea h2{
    font-size: 3.2rem;
}

#home .selection-tea h3{
    font-size: 2.5rem;
}

#home .selection-tea h3 span{
    background: white;
    padding: 0 1rem;
}

#home .selection-tea h3:after{
    content:"";
    display: block;
    border-top: 1px solid var(--primary-color);
    margin-top: -2rem;
}

#home .selection-tea figure img{
    width: 100%;
}

/********** Page 'Thés' (listing) **********/

#listing section article img{
    width: 100%;
}

#listing section h2{
    text-align: left;
}

#listing section h2 span{
    background: white;
    padding: 0 10px 0 0;
}

#listing section h2:after{
    content:"";
    display: block;
    border-top: 1px solid var(--primary-color);
    margin-top: -20px;
}

#listing section article h3{
    color: #666;
}

/********** Page 'Produit' (product) **********/

#product article{
    text-align: center;
}

#product article h2, 
#product article h3{
    color: #666;
}

#product article h2{
    margin-bottom: 0;
}

#product article h3{
    font-weight: normal;
    margin-top: 0;
}

#product article .fa-star{
    color: #ffdc0f;
}

#product article .fa-heart{
    color: #e7877a;
}

#product article .fa-star:last-of-type{
    color: #666;
}

#product article a{
    color: var(--primary-color);
    display: block;
}

#product article img{
    width: 100%
}

#product article > p{
    text-align: left;
}

#product article > p:nth-of-type(3),
#product article > p:last-of-type{
    font-weight: bold;
}

#product form select{
    border: 1px solid #ccc;
    color: #666;
    padding: 10px;
    width: 100%
}

#product form p{
    border: 0;
    color: #666;
    font-family: 'Amaranth', sans-serif;
    font-size: 3.5rem;
    margin: 0;
    text-align: center;
    width: 100%
}

#product form button{
    border: 0;
    display: inline-block;
    width: 100%;
}

/********** Page 'Notre histoire' (about) **********/

#about h2, #about h3{
    text-align: left;
}

#about h2{
    color: #666;
}

#about section .img-left,
#about section .img-right{
    margin-bottom: 25px;
    width: 100%;
}

#about aside{
    background-color: rgba(150, 176, 17, 0.2);
    margin-top: 30px;
    padding: 30px;
    text-align: center;
}

#about aside h3{
    color: #666;
    text-align: center;
}

#about aside img{
    margin-top: 30px;
    width: 80px;
}

/********** Page 'Mon compte' (account) **********/

#account h1{
    padding: 1rem;
}

#account h2{
    margin: 0;
}

#account nav{
    background-color: var(--secondary-color);
    color: white; 
}

#account nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#account nav ul li{
    padding: 1rem;
}

#account nav ul li:hover{
    opacity: 0.75;
    box-shadow: inset 5px 5px rgb(134, 110, 78), inset -5px -5px rgb(134, 110, 78);
}

#account form{
    margin: 0;
}

#account .flex{
    justify-content: space-around;
}

#account #s-account1 article{
    width: max-content;
    margin: auto;
}

#account #s-account4{
    text-align: center;
}

#account #s-account4 form{
    padding: 0;
}

#account #message{
    background-color: var(--bg-section);
    text-align: center;
    margin: 0;
}

/********** Page 'Mon panier' (cart) **********/

#cartPage > p{
    text-align: right;
}

#cartPage .btn{
    margin-right: 2rem;
}

#cartPage .productLink{
    color: inherit;
    text-decoration: underline;
}

/********************************************************
                        FOOTER
********************************************************/

footer{
    background: var(--bg-header-footer);
    margin-top: 3rem;
}

footer > div{
    background-color: #879e0f;
    padding: 1rem 0;
}

footer a{
    color: #fff;
}

/***** Barre de pictogrammes *****/

footer ul.flex{ 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

footer ul.flex li{
    color: #fff;
    flex-basis: 50%;
    opacity: 0.5;
    text-transform: uppercase;
    margin: 3rem 0;
}

footer ul.flex li .fas {
    display: block;
    font-size: 3.2rem;
    margin: 0 0 1.5rem;
}

/***** Navigation *****/

footer nav.flex{
    margin-bottom: 3rem;
}

footer nav ul:first-of-type {
    margin: 2.5rem 0 0;
}

footer nav ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

footer nav ul li{
    margin: 0 0 1.5rem;
}

footer nav ul a{
    color: #fff;
    opacity: 0.5;
}

footer div:first-child li:hover, footer nav ul a:hover{
    opacity: 1;
}

footer nav ul h3{
    color: #fff;
    font-family: "open sans", sans-serif;
    font-weight: normal;
    margin: 3.5rem 0;
    text-transform: uppercase;
}

/***** License *****/

footer nav + div{
    background-color: rgba(0,0,0,0.1);
    color: #fff;
    padding: 4rem 3rem 3rem;
    text-align: center;
}

footer img{
    width: 6rem;
}

/********************************************************
                      Responsive
********************************************************/

/********** TABLET 768PX **********/

@media screen and (min-width: 768px){

    /***** HEADER *****/

    header div.flex, header ul.flex{
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    
    header div.flex > a{
        margin-top: 0;
        padding-left: 3rem;
    }
    
    header p.panier{
        position: relative;
        top: 0;
    }
    
    header p.panier {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        padding: 0 34px;
    }
    
    header p.panier span:first-of-type{
        display: inline;
        font-size: 2rem;
    }

    #ribbon{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
    }

    /***** Page d'accueil (home) *****/

    #home .event{
        display: block;
        text-align: center;
    }

    #home .event p:first-of-type{
        color: var(--primary-color);
        font-family: 'Amaranth', sans-serif;
        font-size: 4rem;
        margin: 0 0 20px;
    }

    #home .event p:last-of-type{
        font-size: 1.4rem;
        margin: 0 0 25px;
    }

    #home .event p:first-of-type + img{
        width: 100%
    }

    #home .choice-tea .flex{
        flex-direction: row;
    }

    #home .selection-tea figure img{
        width: auto;
    }

    /***** Page des thés (listing) ******/

    #listing section article img{
        width: auto;
    }

    /***** Page de produit (product) *****/

    #product article > div{
        display: flex;
        justify-content: space-between;
    }

    #product article > div:first-of-type div:last-of-type{
        margin-top: 20px;
    }

    #product article > div:nth-of-type(2){
        margin: 30px 0;
    }

    #product article img{
        flex-basis: 50%;
    }

    #product article form{
        flex-basis: 45%;
        margin-top: 30px;
    }

    #product article form p,
    #product article form a{
        text-align: right;
    }

    #product form button{
        margin-top: 40px;
    }

    /***** Page 'Notre histoire' (about) *****/
    #about section .img-left,
    #about section .img-right{
        margin-bottom: 0;
        width: 50%;
    }

    /***** Page 'Mon panier' (cart) *****/

    #cartPage div.flex{
        flex-direction: row;
        justify-content: space-around;
    }

    /***** FOOTER ******/

    footer ul.flex{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    footer ul.flex li{
        flex-basis: auto;
        margin:30px;
    }

    footer nav.flex{
        flex-direction: row;
        justify-content: space-around;
    }

    footer nav ul:first-of-type {
        margin: 0;
    }
}

/********** DESKTOP 1025PX **********/

@media screen and (min-width: 1025px){

    /***** Page d'accueil (home) *****/

    #home .choice-tea div.flex{
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #home .selection-tea div.flex{
        flex-direction: row;
        justify-content: space-between;
    }

    #home .selection-tea figure img{
        width: 100%;
    }

    /***** Pages des thés (listing) *****/

    #listing section div.flex{
        flex-direction: row;
        justify-content: space-between;
    }

    #listing section article img{
        width: 100%;
    }

    #listing article, .selection-tea article{
        padding: 0 20px;
    }

    /***** Page 'Notre histoire' (about) *****/

    #about aside{
        display: flex;
        justify-content: space-between;
    }

    #about aside article{
        padding: 0 15px;
    }

    /***** Page 'Mon compte' (account) *****/

    #account nav ul{
        flex-direction: row;
    }
}
